<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Faculty Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <style>
        .active {
            font-weight: 900;
            color:#f56a6a !important;
        }
    </style>
</head>

<body>

    <div style="position: absolute; top: 15px; right: 15px;">
        <a href="#"><i class="fa fa-bell fa-2x fa-red" style="color:#f56a6a; margin-right: 20px;"></i></a>
        <a href="#"><i class="fa fa-sign-out fa-2x" style="color:#f56a6a; margin-right: 20px;"></i></a>
    </div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>Application History</h1>
                    </header>

                    <hr class="major" />

                    <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Application Id</th>
                                <th>Date of Submission</th>
                                <th>Due Date</th>
                                <th>Application Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/application">342423</a></td>
                                <td>23/23/23</td>
                                <td>23/23/23</td>
                                <td>Bonafied</td>
                            </tr>
                            <tr>
                                <td><a href="/application">342423</a></td>
                                <td>23/23/23</td>
                                <td>23/23/23</td>
                                <td>Bonafied</td>
                            </tr>
                        </tbody>
                    </table>


                </section>

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="/faculty">Pending Applications</a></li>
                        <li><a href="/faculty_history" class="active">Application History</a></li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>